:root {
  --world-background: url("tile2/sky.jpg");
  --ground-background: url("tile2/soil.jpg");
  --ground-top-background: url("tile2/soiltop.jpg");
  --tree-lower-background: url("tile2/lower-tree.jpg");
  --tree-upper-background: url("tile2/tree-leaves.png");
  --cloud-background: url("tile2/cloud.png");
  --rock-background: url("tile2/rock.png");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Minecraft", sans-serif;
  color: #f4f4f4;
}

.title {
  text-align: center;
}

.biege-text {
  color: bisque;
  text-shadow: 2px 2px darkred;
}

.game-intro {
  background: url("tile2/introBg.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container {
  margin-bottom: 3vh;
}

.menu-container h2 {
  text-align: center;
  text-shadow: 5px 5px blue, 0 0 10px black;
  font-size: -webkit-xxx-large;
  color: seashell;
}

.tutorial-desc {
  display: none;
  position: absolute;
  background: #222;
  border-radius: 10px;
  width: 40vw;
  height: 40vh;
  left: 30%;
  bottom: 40%;
}

.tutorial-desc > h3,
.tutorial-desc > p {
  margin-bottom: 2%;
}

.exit-tut {
  position: absolute;
  right: 1%;
  top: 0vh;
}

.menu-container > div {
  text-align: center;
  padding: 10px 0;
}

.start-game-wrapper > div {
  padding: 10px;
}

.gameModes-container {
  height: 3vh;
  width: 100%;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
}

.gameModes-container > div {
  padding: 0px 15vh;
}

.game-mode {
  border: 2px solid black;
  height: 20vh;
}

.game-mode:hover {
  border: 2px solid darkorange;
}

#normal {
  background: url("tile2/normal-world-mode.jpg") no-repeat center center/cover;
}

#desert {
  background: url("tile2/desert-world-mode.jpg") no-repeat center center/cover;
}

#snow {
  background: url("tile2/snow-world-mode.jpg") no-repeat center center/cover;
}

#outer {
  background: url("tile2/outer-world-mode.jpg") no-repeat center center/cover;
}

.inventory,
.resources-bag {
  display: grid;
  grid-template-areas:
    "item item item"
    "item item item";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1vh;
  gap: 1vh;
}

.bag-item {
  border: 2px solid white;
  height: 8vh;
}

.bag-item:hover {
  border: 2px grey solid;
}

.shovel {
  background: url("tile2/shovel.png") no-repeat center center/cover;
}

.axe {
  background: url("tile2/axe.png") no-repeat center center/cover;
}

.pickaxe {
  background: url("tile2/pickaxe.png") no-repeat center center/cover;
}

.unknown {
  background: url("tile2/unknown.png") no-repeat center center/cover;
}

.empty {
  background: none;
}

.selected-item {
  background-color: darkblue;
  border: 2px darkred solid;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.wrapper {
  overflow: auto;
  width: 85%;
  height: 98vh;
}

.game-world {
  background: var(--world-background) no-repeat center center/cover;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  max-height: 100vh;
  width: 3000px;
}

.side-bar {
  background-color: #333;
  max-height: 100vh;
  width: 15%;
  padding: 5vh 0;
}

.side-bar > div {
  padding: 2vh 0;
}

.ground-tile,
#ground {
  background: var(--ground-background) no-repeat center center/cover;
}

.ground-top-tile,
#ground-top {
  background: var(--ground-top-background) no-repeat center center/cover;
}

.tree-lower-tile,
#tree-lower {
  background: var(--tree-lower-background) no-repeat center center/cover;
}

.tree-upper-tile,
#tree-upper {
  background: var(--tree-upper-background) no-repeat center center/cover;
}

.cloud-tile {
  background: var(--cloud-background) no-repeat center center/cover;
}

.rock-tile,
#rock {
  background: var(--rock-background) no-repeat center center/cover;
}

.disabled {
  display: none;
}

.reset-world {
  color: chocolate;
}
